/**
 * @file
 * Social Icons Component Styles
 */

.social-icons {
  list-style: none;
  list-style-type: none;
  display: flex;
  gap: 6px;
  margin: 0;
  padding: 0;
}

.social-icons li,
.footer .social-icons li {
  padding: 0;
  border: 0;
}

.social-icons li:hover,
.footer .social-icons li:hover {
  padding: 0;
}

.social-icons li a {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.social-icons a {
  color: var(--color-primary);
}

.header-top .social-icons {
  gap: 6px;
}

.header-top .social-icons li a,
.footer .social-icons li a {
  background: var(--light);
}

ul.social-icons a:hover {
  background: var(--color-primary);
  color: #ffffff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  ul.social-icons li {
    font-size: 0.8rem;
  }
  
  ul.social-icons li a {
    width: 30px;
    height: 30px;
  }
}
